<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13107465713-pp8hs7d35f5q8jav98gp0d1iqldupsvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13107465713-pp8hs7d35f5q8jav98gp0d1iqldupsvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ8BdBAcwdkX4y26lL1iXYxIun1NKb-LE</string>
	<key>GCM_SENDER_ID</key>
	<string>13107465713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xXFalcoonXx.motivosprateamar</string>
	<key>PROJECT_ID</key>
	<string>motivosprateamar-44453</string>
	<key>STORAGE_BUCKET</key>
	<string>motivosprateamar-44453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13107465713:ios:80df8eddb833f93c850850</string>
	<key>DATABASE_URL</key>
	<string>https://motivosprateamar-44453-default-rtdb.firebaseio.com</string>
</dict>
</plist>